* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.app {
  background: #000;
  display: grid;
  grid-template-areas:
    'menu search'
    'menu main'
    'footer footer';
  width: 100%;
}

footer {
  border: 1px solid #fff;
  display: block;
  font-style: italic;
  grid-area: footer;
  height: 3em;
  padding: 1em;
  text-align: center;
}
