* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  /* border: 1px solid red; */
}

.app {
  display: grid;
  grid-template-areas:
    'menu search'
    'menu main';
  background: #000;
  width: 100%;
  
}
